@value makerGreen from '../common/colors.css';

.container{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button__container{
    margin: 20px 0px;
}

.button{
    display: block;
    width: 90%;
    height: 2.5rem;
    border: 2px solid makerGreen;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}